.root {
  width: 100%;
}

.root > button > svg:last-child {
  width: 13px;
  height: 13px;
  margin-left: auto;
}

.notice {
  position: fixed;
  z-index: 40;
  right: 24px;
  bottom: 24px;
  width: min(460px, calc(100vw - 48px));
  box-shadow: 0 4px 16px #00000055;
}

.noticeContent {
  display: flex;
  flex-direction: column;
  gap: var(--lk-space-3);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--lk-space-2);
}
